.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
    font-family: fantasy;
    

}
.note {
    font-size: 15px;
    color: rgb(97, 57, 82);
    font-family: cursive;
    font-weight: bold;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: rgb(177, 250, 177);
    background-color: darkgreen;
    font-family: serif;
    font-weight: 600;

}
canvas {
    border: 5px, solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    

}
body{
    background-image: linear-gradient(to bottom, rgb(255, 244, 245) 0%, rgb(250, 203, 242) 30%, rgb(255, 168, 168) 50%, rgb(250, 106, 161) 80%, rgb(235, 76, 102) 100%);
}